# Build outputs
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# OS
.DS_Store
Thumbs.db
.github

# Local databases / SQLite
Data/db.sqlite*
*.sqlite
*.sqlite-shm
*.sqlite-wal
Migrations/*

# Logs
*.log
