@inherits LayoutComponentBase
@implements IDisposable

@inject Progetto_Web_2_IoT_Auth.Services.ThemeService Theme
@inject IJSRuntime JS

    <NavMenu />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


<MudThemeProvider IsDarkMode="@Theme.IsDarkMode" />
<MudPopoverProvider />

<MudDialogProvider />

<MudSnackbarProvider />

@code {
    protected override void OnInitialized()
    {
        Theme.OnChange += OnThemeChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await Theme.InitializeAsync(JS);
    }

    private void OnThemeChanged()
    {
        _ = InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Theme.OnChange -= OnThemeChanged;
    }
}
