@page "/logout"
@using MudBlazor
@inject NavigationManager Navigation
@inject IJSRuntime JS

<MudPaper Class="pa-6 mx-auto mt-12" MaxWidth="400px" Elevation="6">
    <MudStack Spacing="2" AlignItems="AlignItems.Center">
        <MudIcon Icon="@Icons.Material.Filled.ExitToApp" Color="Color.Primary" Size="Size.Large" />
        <MudText Typo="Typo.h5" Align="Align.Center">
            @_title
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Center">
            @_message
        </MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GoToLogin">
            Back to Login
        </MudButton>
    </MudStack>
</MudPaper>

<form id="serverLogoutForm" method="post" action="/logout-action" style="display:none;"></form>

<script>
    window.submitLogoutForm = () => {
        const form = document.getElementById('serverLogoutForm');
        if (form) form.submit();
    };
</script>

@code {
    private bool _done;
    private string _title = "Logging out...";
    private string _message = "Please wait...";

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(Navigation.Uri);
        var q = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        _done = q.TryGetValue("done", out var done) && done == "1";

        if (_done)
        {
            _title = "Logged out";
            _message = "You will be redirected to the login page in a few seconds.";
            await Task.Delay(2000);
            Navigation.NavigateTo("/login", forceLoad: true);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_done)
        {
            try
            {
                await JS.InvokeVoidAsync("submitLogoutForm");
            }
            catch (Exception ex) when (ex is TaskCanceledException || ex.GetType().Name == "JSDisconnectedException")
            {
                // Ignores the execption casued by submitting the form causes a navigation
                // which disconnects the circuit and cancels ongoing JS tasks, this solution is non ideal indeed
            }
        }
    }

    private void GoToLogin()
    {
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}