@page "/"

@attribute [Authorize]
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView Roles="User">
    <Authorized>
      
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Administrator">
    <Authorized>

    </Authorized>
</AuthorizeView>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
}